@font-face{
  font-family: 'cordalight';
  src: url('fonts/cordalig-webfont.eot');
  src: url('fonts/cordalig-webfont.eot') format('embedded-opentype'),
  url('fonts/cordalig-webfont.woff') format('woff'),
  url('fonts/cordalig-webfont.ttf') format('truetype'),
  url('fonts/cordalig-webfont.svg') format('svg');
}
body {
   background-color: #916c3b;
   background-image: url("../img/background.jpg");
   background-size: 170px auto;
   font-family: cordalight, Times New Roman, Times;
}

p {
  line-height: 160%;
}
.center-content {
  margin-left: auto;
  margin-right: auto;
  width: 612px;
  border: 5px solid black;
  box-shadow: 3px 3px 4px #000;
  background-image: url("../img/parchment.jpg");
}

.center-content .header {

}


.title  {
  text-align: center;
}
#songs {
  background-image: url("../img/parchment.jpg");
}
.songs {
  margin:5px;
  padding:5px;
  border: 1px dotted black;
  float:left;
  width:284px;
  height: 125px;
  font-size:95%;
}
.navbar {
  width:100%;
  border-top:2px solid black;
  border-bottom: 2px solid black;
  text-align: center;
  padding: 10px;
}
.navbar .navitem {
  padding: 0px 10px;
  /*border-left: 1px solid black;*/
  /*border-right: 1px solid black;*/
  font-size: +20;
  display:inline-block;
  text-align: center;
  outline:none;
}
.navbar .navitem a {
  outline:none;
  text-decoration: none;
  color:black;

}
.navbar .navitem a:visited {
  color:black;
  text-decoration: none;
}
.navbar .navitem.ui-state-active {
  background-image: url("../img/active-parchment.jpg");
  color: black;
}
.thumb {
  width: 80px;
  padding: 3px;
  background-image: parchment.jpg;
}
.black-back {
  background: #000;
}
ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
  padding: 0;
}
#header-left {
  width:275px;
  float:left;
  border-right: 2px solid black;
}
.header-logo {
  width:275px;
}
#header-right {
  float:right;
  width: 322px;
  height: 111px;
}

#header-right .content {
  text-align: center;
  vertical-align: middle;
  padding: 15px;
  font-size: 120%;
}

#header {
  padding-bottom:3px;
}
.footer {
  border-top: 2px solid black;
  font-size: 90%;
  text-align: center;
  padding: 3px 45px;
}

.article {
  padding: 10px 25px;
}

.footnote {
  font-size: 90%;
}

a:link, a:visited {
  color:rgb(128,81,44);
  text-decoration: underline;
  font-weight: bold;
}
div.box {
    border: 4px solid rgb(128,81,44);
    background-color: rgba(0,0,0,0);
    position:absolute;
}
div.ui-widget-overlay {
  background: #AAAAAA;
}
